PORT=3001
NODE_ENV=development
NTA_API_KEY=your_key_here
NTA_API_HEADER_NAME=Ocp-Apim-Subscription-Key
UPSTREAM_VEHICLES_URL_DEV=https://api.wwwmarcos-alvarez.com/vehicles
UPSTREAM_VEHICLES_URL_PROD=https://api.nationaltransport.ie/gtfsr/v2/Vehicles?format=json
GTFS_STATIC_URL=https://www.transportforireland.ie/transitData/Data/GTFS_Realtime.zip
CORS_ORIGIN=http://localhost:5173
CACHE_TTL_MS=10000
